body {
  font-family: "Microsoft JhengHei", sans-serif;
  background-color: #facfde; /* 粉色背景 */
  margin: 0;
  padding: 0;
}

.resume {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}

.avatar {
  width: 80px；
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e91e63; /* 粉色邊框 */
  margin-bottom: 15px;
}

h1 {
  color: #e91e63;
  margin: 10px 0;
}

h2 {
  color: #333;
  margin-top: 20px;
}

p {
  color: #555;
  margin: 5px 0;
}

a {
  color: #e91e63;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: #555;
  margin: 5px 0;
}
.play-btn {
  background-color: #dc1255; /* 粉色 */
  color: #f0a6c1;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background 0.3s ease;
}

.play-btn:hover {
  background-color: #d81b60; /* 深粉色 hover 效果 */
}
